.collection-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-title {
  font-size: 38px;
  margin: 0 auto 30px;

  @media screen and (max-width: 800px) {
    font-size: 25px;
    margin: 0 auto 15px;
  }
}

.collection-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 22px;

  & > div {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    & > div {
      margin-bottom: 25px;
    }
  }
}
