.signin-and-signup-container {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: unset;
    align-items: center;

    > *:first-child {
      margin-bottom: 40px;
    }
  }
}
